<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="/src/includes/style.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login usuário</title>

</head>
<body>
    <header>
        <!-- BARRA DE NAVEGAÇÃO -->
        <!-- BARRA DE NAVEGAÇÃO -->
    </header>
    <main class="text-center container">
        
        <!-- CADASTRO USUÁRIO -->
        <form action="http://projecttest/login/check" class="form-signup" method="POST">
            <h3 class="mb-3 font-weight-normal">Login</h3>

            <label class="sr-only" for="login">Nome de usuário</label>
            <input id="login" name="user" class="form-control mb-3" type="text" placeholder="Nome de usuário" required>

            <label class="sr-only" for="pass">Senha</label>
            <input id="pass" name="password" class="form-control mb-3" type="password" placeholder="Senha" required>

            <a class="mb-3" href="http://projecttest/cadastrar/index">Ainda não se cadastrou?</a>

            <button class="btn btn-lg btn-primary btn-block" type="submit" >Login</button>
        </form>
        <!-- CADASTRO USUÁRIO -->
    </main>


    <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    
    <script>
        function validarForm(){
            
        }
    </script>
</body>
</html>