
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="/src/includes/style.css">

    <title>Dashboard | Relatório</title>
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
            <a class="navbar-brand" href="#">Bem-Vindo {{name_user}}</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
          
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
              <ul class="navbar-nav mr-auto">
                <!-- OUTRAS AÇÕES PELA BARRA DE NAVEGAÇÃO -->
                <li class="nav-item active">
                  <a class="nav-link" href="http://projecttest/dashboard">Dashboard</a>
                </li>
              </ul>
              <a class="btn btn-light" href="http://projecttest/relatorio/logout">Logout</a>
            </div>
          </nav>
    </header>

    <main class="container">
      <section id="filters" class="ml-auto">
        <div class="m-3">
          <form action="http://projecttest/relatorio" method="POST">
            <input name="ord" type="text" value="ASC" hidden>
            <button class="btn btn-primary">ASC</button>
          </form>
        </div>
        <div class="m-3">
          <form action="http://projecttest/relatorio" method="POST">
            <input name="ord" type="text" value="DESC" hidden>
            <button class="btn btn-primary">DESC</button>
          </form>
        </div>
      </section>
      <table class='table table-dark table-striped'>
        <thead>
          <tr class="">
            <th scope='col' class='text-center'>Nome de usuário</th>
            <th scope='col' class='text-center'>Pontos</th>
            {% if users %}
              <th scope='col' class='text-center'>Comandos</th>
            {%endif%} 

          </tr>
        </thead>
        <tbody>
          {% for user in users %}
            {% for usuario in user %}

              <tr class="content">
                <th class="h3 text-center">{{usuario['name_user']}}</th>
                <th class="text-center">
                  <span id="number_{{usuario['id']}}">
                    {% for pontos in pontuacao %}
                      {% for ponto in pontos %}
                        {% if usuario['id'] == ponto['id_user'] %}
                          {{ponto['pontos']}}
                        {%endif%} 
                      {% endfor %}
                    {% endfor %}
                  </span>
                </th>
                <th class="comandos">
                  <form action="/dashboard/alterar" method="POST">
                    <input id="id" name='id_user' type="number" value="{{usuario['id']}}" hidden>
                    <input id="pontos_{{usuario['id']}}" name='pontos' type="number" hidden>
                    <button class="btn btn-primary">Alterar</button>
                  </form>
                  <form action="/dashboard/deletar"  method="POST">
                    <input id="id" name='id_user' type="number" value="{{usuario['id']}}" hidden>
                    <button class="btn btn-danger">Excluir</button>
                  </form>
                </th>
              </tr>
            {% endfor %}
          {% endfor %}
          {% if not users %}
          <tr class="content">
            <th class="h3 text-center">{{name_user}}</th>
            <th class="text-center">
              <span id="number">
                {% for pontos in pontuacao %}
                  {{pontos}}
                {% endfor %}
              </span>
            </th>
            
          </tr>
          {%endif%} 

        </tbody>
        
        
     
      </table>
    </main>
    
    <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <script>
        
    </script>
</body>
</html>